<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.questionssurver">

    <!-- SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 向SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Display_One" />
        <activity android:name=".Display_Two" />
        <activity android:name=".Display_Three" />
        <activity android:name=".Display_Four" />
        <activity android:name=".Display_Five" />
        <activity android:name=".Display_Six" />
        <activity android:name=".Display_Seven" />
        <activity android:name=".Display_Eight" />
        <activity android:name=".Display_Nine" />
        <activity android:name=".Display_Ten" />
        <activity android:name=".Display_Eleven" />
        <activity android:name=".Display_Twelve" />
        <activity android:name=".Thankyou"></activity>
    </application>

</manifest>